.search {
  background-color: var(--main-color);
  border-radius: 32px;
  border: 2px solid var(--main-color);
}

.containerSearch {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.checkbox:focus {
  border: none;
  outline: none;
}

.checkbox:checked {
  right: 10px;
}

.checkbox:checked ~ .mainbox {
  width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}
.btn {
  padding: 0.7rem 1.4rem;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 0.5rem;
}

.btn:hover {
  background: #fa1216;
}

/* home */
section {
  padding: 4.5rem 0 1.5rem;
}

.container {
  width: 100%;
  height: 1840em;
  position: relative;
  display: flex;
  align-items: center;
  background: rgb(2, 3, 7, 0.5);
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

@media (max-width: 1080px) {
  .home-text {
    padding: 0 100px;
  }
}

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
  .home-text {
    padding: 0 4%;
  }
  .home-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 774px) {
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--bg-color);
  }
  header.shadow #menu-icon {
    color: var(--text-color);
  }
  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    row-gap: 1.4rem;
    padding: 20px;
    box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
    transition: 0.2s all linear;
    text-align: center;
    width: 100%;
  }
  .navbar a {
    color: var(--text-color);
  }
  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  .navbar a::after {
    display: none;
  }
  .navbar.active {
    top: 100%;
  }
  .home-text h1 {
    font-size: 2.4rem;
  }
  .btn {
    padding: 0.6rem 1.2rem;
  }
  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  }
}

@media (max-width: 472px) {
  .newsletter form .email {
    width: auto;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .container {
    width: 100%;
    min-height: 500px;
  }
  header {
    padding: 6px 4%;
  }
  .home-text h1 {
    font-size: 1.7rem;
  }
  .play {
    right: 2rem;
    bottom: 8%;
  }
  .play .bx {
    padding: 7px;
  }
  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  }
}
