@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/* variables */

:root {
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}

body {
  background-color: var(--text-color);
  color: var(--bg-color);
}
/* .hidden {
  visibility: none;
} */
/* .watch {
} */
.searchS {
  position: absolute;
  right: 0;
  display: flex;
  align-items: flex-end;
}
.searchResults {
  position: absolute;
  top: 20rem;
  flex-direction: row;
  left: 10rem;
  /* background-color: #fa1216; */
  min-height: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.countries {
  /* margin-bottom: 8rem; */
  /* flex: wrap; */
  display: inline;
  /* align-self: center; */
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
}
.country__img {
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}
.country {
  border-radius: 2rem;
  position: relative;
  /* transition: opacity 1s; */
  /* opacity: 1; */
  /* margin-left: -290px; */
  top: -10rem;
  background-blend-mode: multiply;
  right: 0;
  /* left: -30px; */
  /* background-color: #fff; */
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 15rem;
  /* border-radius: 0.7rem; */
  height: 15rem;
  /* transform: translateX(0%); */
  margin: 0 0 50px 2rem;
  /* overflow: hidden; */
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  transition: 0.5s;
  background: var(--text-color);
}
header.shadow {
  background: var(--bg-color);
  box-shadow: 0 0 4px solid rgb(14 55 54/15%);
}

header.shadow .navbar a {
  color: var(--text-color);
}

header.shadow .logo {
  color: var(--text-color);
}
.logo {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  align-items: center;
  color: var(--bg-color);
  display: flex;
  column-gap: 0.5rem;
}

.bx {
  color: var(--main-color);
}
/* .OpeningWeekWatch{


} */
header ul {
  background-color: #020307;
}
ul {
  background-color: red;
  border-radius: 32px;
  border: 2px solid red;
}
.navbar {
  display: flex;
  column-gap: 5rem;
  position: absolute;
  left: 35%;
}
/* .navbar li {
} */
.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}
.fa-circle-play {
  position: absolute;
}

.xs-play-circle {
  padding: 0;
  display: flex;
  color: #fa1216;
  z-index: 100000000;
  position: absolute;
  top: 80%;
  left: 25%;
  align-self: center;
  font-size: 30px;
}

.navbar a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  top: 35%;
  left: 45%;
  position: absolute;
  z-index: 1000001;
  display: none;
}
/* bottom: -20rem; */
article 
/* From Uiverse.io by vnuny */
.search {
  background-color: var(--main-color);
  border-radius: 32px;
  border: 2px solid var(--main-color);
}

.containerSearch {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}

.mainbox {
  box-sizing: border-box;
  /* position: relative; */
  width: 200px;
  height: 50px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.checkbox:focus {
  border: none;
  outline: none;
}

.checkbox:checked {
  right: 10px;
}

.checkbox:checked ~ .mainbox {
  width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}

.btn {
  padding: 0.7rem 1.4rem;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 0.5rem;
}

.btn:hover {
  background: #fa1216;
}

/* home */
section {
  padding: 4.5rem 0 1.5rem;
}

.container {
  width: 100%;
  min-height: 700px;
  position: relative;
  display: flex;
  /* padding: -30rem; */
  /* top: -20rem; */
  align-items: center;
  background: rgb(2, 3, 7, 0.5);
  /* background-color: #fa1216; */
}

.container .previewImg {
  position: absolute;
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* object-fit: cover; */
  left: 0;
  /* object-position: center; */
  z-index: -1;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  border-radius: 0.2rem !important;
  background: var(--bg-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  background: var(--main-color) !important;
}

.home-text {
  /* position: absolute; */
  /* top: 50%; */
  z-index: 100000000;
  padding: 0;
}

.col-sm {
  width: 100%;
  align-self: center;
  /* min-height: 640px; */
  position: relative;
  display: flex;
  align-items: center;
  background: rgb(2, 3, 7, 0.5);

  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; */
  /* object-position: center; */
  /* z-index: -1; */
}
.play {
  position: absolute;
  /* right: 4rem; */
  right: 0;
  bottom: 0;
  /* top: 10.5rem; */
  z-index: 1000000000000;
  /* bottom: 10%; */
}

/* From Uiverse.io by ShrinilDhorda */
.watchBtn {
  position: absolute;
  bottom: 10rem;
}
.watch,
.playNow {
  /* .OpeningWeekWatch { */
  position: absolute;
  /* top: 0rem; */
  background-color: #fa1216;
  /* display: none; */
  z-index: 101;
  left: 0rem;
  /* font-size: 1rem; */
  /* margin-top: 20rem; */
  /* padding: 0.5rem 1rem; */
  border: none;
  outline: none;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  /* bottom: 10rem; */
  /* box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); */
}

.watch:active {
  scale: 0.92;
}
.playNow:active {
  scale: 0.92;
}

.watch:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    var(--main-color) 60%
  );
  color: rgb(4, 4, 38);
}
.playNow:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    var(--main-color) 60%
  );
  color: rgb(4, 4, 38);
}
.watch button i {
  /* font-size: 2rem; */
  background-color: var(--main-color);
  color: var(--text-color);
}
/* .OpeningWeek button i {
  background-color: var(--main-color);
  color: var(--text-color);
}
.OpeningWeek:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    var(--main-color) 60%
  );
  color: rgb(4, 4, 38);
} */
.heading {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--main-color);
}
.play-icon {
  font-size: 2.5rem;
  /* z-index: 1000000000; */
  position: relative;
  top: -18%;
  bottom: 0;
  right: -20%;
  /* position: absolute; */
  /* top: 150%; */
  background: var(--bg-color);
  border-radius: 50%;
  left: 50%;
  color: var(--text-color);
}

.hidden {
  visibility: hidden;
  /* display: none; */
}

.play-icon:hover {
  /* background: var(--main-color); */
  /* color: var(--bg-color); */
  transform: scale(1.03, 1.03);
  transition: transform 0.2s ease-in-out;
}

.movies-container {
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.box {
  width: 100%;
  height: 270px;
  cursor: pointer;
}
.weekImg {
  /* transition: opacity 1s; */
  /* opacity: 1; */
  position: relative;
  /* margin-left: -290px; */
  top: 100px;
  background-blend-mode: multiply;
  right: 0;
  left: -30px;
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 20rem;
  border-radius: 0.7rem;
}
.box-img {
  /* transform: translateX(0%); */
  margin: 0 0 50px 2rem;
  width: 100%;
  height: 270px;
  cursor: pointer;
  border-radius: 2rem;
}

.box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;

  object-fit: cover;
}

.box .box-img img:hover {
  transform: scale(1.03, 1.03);
  /* z-index: 1; */

  /* transform: translateY(10px); */
  transition: transform 0.2s ease-in-out;
}

.box h3 {
  font-size: 0.9rem;
  font-weight: 500;
}

.box span {
  font-size: 14px;
}

.coming-container {
  display: grid;
  gap: 1rem;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.coming-container .box img:hover {
  transform: translateY(0);
}

.coming-container .box img {
  border-radius: 15px;
}

.newsletter {
  max-width: 968px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.newsletter h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.newsletter form {
  background: var(--bg-color);
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.newsletter form input {
  border: none;
  outline: none;
}

.email {
  width: 280px;
}

.newsletter form input::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 400;
}

.newsletter .btn {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

/* footer */
.footer {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.watch,
.playNow {
  border-radius: 50%;
  font-size: 50px;
  padding: 0;
  /* top: 30rem; */
  bottom: 0;
  left: 0rem;
  position: absolute;
  background-color: var(--main-color);
}

.playNow {
  position: absolute;
  /* bottom: 0; */
  background-color: var(--main-color);
  /* z-index: 10000000000001; */
}

/* .week {
  z-index: 100000000000000;
}
.OpeningWeek {
  position: inherit;
  left: -10rem;
  /* right: 0; */
/* bottom: 0rem; */
/* background-color: var(--main-color); */
/* bottom: -30rem; */
/* z-index: 10001; */
/* top: 12rem; */
/* } */
.social .bx {
  background: var(--bg-color);
  padding: 2px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.5);
  color: var(--main-color);
}
.social .twitterSvg {
  background: var(--bg-color);
  padding: 2px;
  font-size: 2rem;
  border-radius: 50%;
  height: 40px;
  border: 4px solid rgb(2, 3, 7, 0.5);
  color: var(--main-color);
}
/* .social .bx {
  background: var(--bg-color);
  padding: 2px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.5);
  color: var(--main-color);
} */

/* Add to your style.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal.hidden {
  display: none;
}
.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 300px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}
.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.social .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}
.social .twitterSvg:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.copyright {
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
}

.link{
  color: aqua;
}

/* From Uiverse.io by vishal2231179 */ 
.button {
  cursor: pointer;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  border-style: double;
  font-weight: 600;
  background-image: linear-gradient(
    rgb(54, 53, 53),
    rgb(0, 0, 0),
    rgb(54, 54, 54)
  );
  color: rgb(164, 164, 162);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: rgb(0, 0, 0);
  transition: 400ms;
}

.button {
  transition: 400ms;
  border-style: double;
  border-color: rgb(208, 207, 207);
  color: rgb(219, 216, 216);
  font-size: 16px;
  text-shadow: 1px 10px 5px rgb(61, 61, 61);
}


@media (max-width: 1080px) {
  .home-text {
    padding: 0 100px;
  }
}

@media (max-width: 450px) {
  .mainbox {
    box-sizing: border-box;
    position: relative;
    width: 100px;
    /* right: 100px; */
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  .search_input {
    box-sizing: border-box;
    height: 100%;
    width: 70px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 1em;
    color: white;
    transition: all 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
}

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
  .home-text {
    padding: 0 4%;
  }
  .home-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1284px) {
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--bg-color);
  }
  .searchResults {
    position: absolute;
    top: 20rem;
    flex-direction: row;
    left: 1rem;
    /* background-color: #fa1216; */
    min-height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  header.shadow #menu-icon {
    color: var(--text-color);
  }
  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    row-gap: 1.4rem;
    padding: 20px;
    box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
    transition: 0.2s all linear;
    text-align: center;
    width: 100%;
  }
  .navbar a {
    color: var(--text-color);
  }
  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  .navbar a::after {
    display: none;
  }
  .navbar.active {
    top: 100%;
  }
  .home-text h1 {
    font-size: 2.4rem;
  }
  .btn {
    padding: 0.6rem 1.2rem;
  }
  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  }
}

@media (max-width: 472px) {
  .newsletter form .email {
    width: auto;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .container {
    width: 100%;
    min-height: 500px;
  }
  header {
    padding: 6px 4%;
  }
  .home-text h1 {
    font-size: 1.7rem;
  }
  .play {
    right: 2rem;
    bottom: 8%;
  }
  .play .bx {
    padding: 7px;
  }
  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  }
}

@media (max-width: 1128px) {
  .country {
    border-radius: 2rem;
    position: relative;
    /* transition: opacity 1s; */
    /* opacity: 1; */
    /* margin-left: -290px; */
    top: -10rem;
    background-blend-mode: multiply;
    right: 0;
    /* left: -30px; */
    /* background-color: #fff; */
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    /* width: 15rem; */
    /* border-radius: 0.7rem; */
    /* height: 250px; */
    /* transform: translateX(0%); */
    margin: 0 0 50px 2rem;
    /* overflow: hidden; */
  }
  .searchResults {
    position: absolute;
    top: 20rem;
    flex-direction: row;
    left: 0rem;
    /* background-color: #fa1216; */
    min-height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .watch,
  .playNow {
    font-size: 40px;

    /* width: 10px; */
    /* height: 10px; */
  }

  .country {
    border-radius: 2rem;
    position: relative;
    /* transition: opacity 1s; */
    /* opacity: 1; */
    /* margin-left: -290px; */
    top: -10rem;
    background-blend-mode: multiply;
    right: 0;
    /* left: -30px; */
    /* background-color: #fff; */
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    width: 10rem;
    /* border-radius: 0.7rem; */
    height: 200px;
    /* transform: translateX(0%); */
    margin: 0 0 50px 1rem;
    /* overflow: hidden; */
  }
  .searchResults {
    position: absolute;
    top: 20rem;
    flex-direction: row;
    left: 0rem;
    /* background-color: #fa1216; */
    min-height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  .container .previewImg {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    object-fit: cover;
    left: 0;
    /* object-position: center; */
    z-index: -1;
  }
}
